.footer {
    padding: 100px 0;
    background-color: #262626;
    color: $text-color;
    &__word {
        color: #b1b1b1;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        padding: 80px 0 78px 0;
        &__word {
            font-size: 1.5625rem;
            margin-bottom: 47px;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 70px 0 65px 0;
        &__word {
            font-size: 1.4375rem;
            margin-bottom: 35px;
        }
    }
}

@media screen and (max-width: 430px) {
    .footer {
        padding: 70px 15px 65px;
    }
}