.link--white {
    @include link($text-color);
}

.link--black {
    @include link(black);
    &:hover {
        color: $text-color;
    }
}

@media screen and (max-width: 1024px) {
    .link {
        width: 248px;
        height: 48px;
        line-height: 48px;
        font-weight: 1.0625rem;
    }
}