.subtitle {
    font-size: $title-font;
    font-weight: 600;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .subtitle {
        font-size: 2.1875rem;
    }
}

@media screen and (max-width: 768px) {
    .subtitle {
        font-size: 1.875rem;
        margin-bottom: 20px;
    }
}