$primary-color: #F3F7EA;
$basic-color: #E5E5E5;
$second-color: #474747;
$text-color: #fff;
$family-font:'Source Serif Pro';
$base-font: 16px;
$description-font: 25px;
$title-font: 40px;
$link-font: 20px;